[Desktop Entry]
Type=DUIApplet
Name=WifiApplet
X-translation-catalog = libwifiapplet
X-Maemo-Service=com.nokia.DuiControlPanel
X-Maemo-Method=com.nokia.DuiControlPanelIf.appletPage
X-Maemo-Object-Path=/
X-Maemo-Fixed-Args=WifiApplet

[DUI]
X-DUIApplet-Applet=libwifiapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_weather.png
X-DUIApplet-ImagePortrait=Widget_portrait_weather.png

[DCP]
Category=Connections
Order=4
