@import "libwifi.css"

#mcpMainPage {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

#mcpCategory {
	preferred-size: 100% -1;

	margin-top: 0;
	margin-right: 0;
	margin-bottom: 10;
	margin-left: 0;

	padding-top: 3;
	padding-right: 3;
	padding-bottom: 3;
	padding-left: 3;

	background-image: mcp-category-background 2 2 2 2;
	background-opacity: 0.5;
}

DuiButtonStyle {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;

	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

#NearbyItem {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;

	padding-top: 20;
	padding-right: 10;
	padding-bottom: 20;
	padding-left: 10;

	background-image: mcp-category-background 2 2 2 2;
	background-opacity: 0.5;
 }

#DeviceItem {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;

	padding-top: 20;
	padding-right: 10;
	padding-bottom: 20;
	padding-left: 10;

	background-image: mcp-category-background 2 2 2 2;
	background-opacity: 0.5;
 }

#StatusTechnologyButton {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;

	padding-top: 20;
	padding-bottom: 20;
}
